<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!-- Reset CSS --}}
  <link rel="stylesheet" href="/css/reset.css">
  {{!-- Stylesheet --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{!-- header looking section --}}
  <section id="topSec">
    <div id="topSecInner" class="flexy">
      <div class="topSecLink">
        <button id="home">Home</button>
      </div>
      <div class="topSecLink">
        <button id="dashboard">Dashboard</button>
      </div>
      {{#if logged_in}}
      <div class="topSecLink">
        <button id="logout">Logout</button>
      </div>
      {{/if}}
      {{#unless logged_in}}
      <div class="topSecLink">
        <button id="login">Login</button>
      </div>
      {{/unless}}
    </div>
  </section>

  {{!-- title --}}
  <section id="title" class="flexy">
    <h1>The Tech Blog</h1>
  </section>

  {{!-- Main section for placing the body into --}}
  <section id="mainSec">
    {{{ body }}}
  </section>

  <script src="/js/main.js"></script>
</body>

</html>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
