<div class="flexy toCenter">
    <div id="signupFormHolder" class="fullPadding-15">
        <form>
            <div class="flexy toCenter fullMargin-15">
                <h2> Sign Up! </h2>
            </div>
            <div class="fullMargin-2">
                <label for="username-create">Create Username:</label>
                <input type="text" id="username-create"/>
            </div>
            <div class="fullMargin-2">
                <label id="passwordLabel" for="password-create">Create Password:</label>
                <input type="text" id="password-create"/>
            </div>
            <div class="flexy toCenter">
                <button id="signup-submit" class="fullMargin-15" type="submit">Submit</button>
            </div>
        </form>
        <div class="flexy toCenter">
            <label id="toLoginLabel" for="toLogin">Already have an account?  </label>
            <button id="toLogin">Click here</button>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>